.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .logo {
    height: 32px;
    background: rgb(253, 253, 253);
    margin: 16px;
  }
  .scrollable-container-dash {
    height: 440px;
    overflow-y: scroll;
  }
  .scrollable-container-pop {
    height: 150px;
    overflow-y: scroll;
  }
  .background-pop {
    padding-top: 0px;
    height: 100px;
  }
  .scrollable-container-update {
    height: 340px;
    overflow-y: scroll;
  }
  .scrollable-container-fav {
    height: 510px;
    overflow-y: scroll;
  }
  .scrollable-container-readfav {
    height: 450px;
    overflow-y: scroll;
  }
  .scrollable-container-pdf {
    height: 435px;
    overflow-y: scroll;
  }
  .background {
    padding-top: 0px;
    height: 300px;
  }
  .code-box-demo .demo {
    overflow: auto;
  }
  .code-box-demo .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  /* .pdf {
    font-family: sans-serif;
    text-align: center;
  } */
  