html{
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(/img/background1.jpg) no-repeat;
    background-size: 100%;
    background-position: bottom;
    min-height: 100%;
  }

  .mgact{overflow-y:scroll;}

  .notf2{max-height: 300px;}
  
  .project-details{
    width: 50%;
  }
  
  .notf{
    width: 70%;
  }
  
  .notfw{
    width:80%;
  }
  
  .notf2{
    max-height: 300px;
  }
  
  .logoN{
    border-right: 7px;
  }
  
  .msgact{
    overflow-y: scroll;
  }  